* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #444444;
}

header {
    background-color: #03a3df;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 200px;
    border: 2px solid #444444;
}

.head-logo {
    padding-left: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-left: 20px;


}

nav li {
    list-style-type: none;
    margin-right: 50px;
}



nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

main {
    margin-left: 50px;
    margin-right: 50px;

}

h1,
h2,
h3 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    color: #444444;
}


h1,
h3 {
    padding-top: 20px;

}

h1 {
    font-size: 40px;
    color:#1b4471;

}

h2 {
    font-size: 24px;
    margin-top:20px;
    font-weight:bold;
    color:#1b4471;


}

h3 {
    background-color: #ecb722;
    padding-top: 20px;
    /* margin-top:20px; */
    /* border-bottom: 2px solid #444444; */
    font-weight:bold;
    color:#1b4471;
}

a:hover {
    background-color:#ecb722;
    color:#1b4471;
}

.subtitle {
    color: #03a3df;
    margin-top:0px;
}



.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

}

.about article {
    width: 25%;
    margin: 20px;
    border: 2px solid #444444;

}

.about img {
    width: 100%;
    height: 200px;

}


.about ul {
    padding: 20px 20px 20px 30px;
}

.about li {
    padding-bottom: 10px;
}

.more {
    /* width: 100%; */
    text-align: center;
    margin: 0;
    padding: 20px;
}

.padding {
    margin-top:20px;
    text-align:center;
}

.classes {
    display:grid;
    grid-template-columns: 14.75% 30% 55% .25%;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1px;
    background-color:#444444;
    border-top: 1px solid #444444;
    border-left: 1px solid #444444;
    border-bottom: 1px solid #444444;
    margin: 30px;
}

.private-lesson {
    display:grid;
    /* width:75%; */
    grid-template-columns: 14.75% 30% 55% .25%;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1px;
    background-color:#444444;
    border-top: 1px solid #444444;
    border-left: 1px solid #444444;
    border-bottom: 1px solid #444444;
    margin: 30px;
}



.classes p, .private-lesson p { 
        background-color:white;
        padding:10px 0px 10px 10px;
}



.staff {

    width: 60%;
    float: left;
    border: 2px solid #444444;
    margin-top: 20px;
    display: grid;


}


.staff img {
    width: 20%;
    height: 20%;


}

.staff-aside {
    float: right;
    width: 35%;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #444444;
    margin-top: 20px;
}

.special {
    margin:20px 20px 20px 20px;
    border: 1px solid #444444;
}

.special p {
    padding: 20px;
}

.special h3 {
    border-bottom: 1px solid #444444;
}

.phone {
    font-weight:bold;
    color: #03a3df;

}

.highlight-home {

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto;
    grid-gap: 10px;
    margin-right: 30px;
    margin-top: 30px;
}

.highlight-home img {
    height: 60%;
    width: 60%;
    padding-left: 60px;
    padding-top: 20px;

}


.highlight p {
    color: #03a3df;
    text-transform: uppercase;
    font-weight: bold;
  
}

.border-top {
border-top: 1.5px double  #444444;
}

.border-left {
    border-left: 1.5px double  #444444;
}

.border-right {
    border-right: 1.5px double  #444444;
}

.border-bottom {
    border-bottom: 1.5px double  #444444;
}

.border {
    border:1.5px double  #444444;
}

.color {
    color: #03a3df;
    font-size: 1.25rem;

}

.color2 {
    color: #03a3df;
}

.bold {
    font-weight:bold;
}

footer {

    color: white;
    background-image: url("../images/footerImage-small.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    border: 2px solid #444444;
    clear: both;
    margin-top: 50px;
    padding:  20px;

}

 
footer .portfolio {
    color: white;
    padding-top: 100px;
    height: 50px;
    line-height: 50px;

}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

}

.social-img {
    margin-right: 40px;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    /* background-color: white; */
}

i {
    font-size: 2rem;
    color: white;
}


footer p {
    color: white;
}

footer a {
    text-decoration: none;
}

.col-1 {
    grid-column: 1/2
    
}

.col-2 {
    grid-column: 2/3
    
}

.col-3 {
    grid-column: 3/4
    
}

.col-span-1-4 {
    grid-column: 1/4

}

.col-span-2-4 {
    grid-column: 2/4

}
.row-span-2-5 {
    grid-row:2/5
}

.row-span-6-9 {
    grid-row:6/9
}

.row-span-10-13 {
    grid-row:10/13
}

.row-1 {
    grid-row: 1/2
    
}

.row-2 {
    grid-row: 2/3
    
}

.row-3 {
    grid-row: 3/4
    
}

.row-4 {
    grid-row: 4/5
    
}

.row-5 {
    grid-row: 5/6
    
}


.row-6 {
    grid-row: 6/7
    
}


.row-7 {
    grid-row: 7/8
    
}

.row-8 {
    grid-row: 8/9
    
}

.row-9 {
    grid-row: 9/10
    
}

.row-10 {
    grid-row: 10/11
    
}

.row-11 {
    grid-row: 11/12
    
}

.row-12 {
    grid-row: 12/13
    
}

.row-13 {
    grid-row: 13/14
    
}



